.item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.size {
  font-size: 20px;
  font-weight: 500;
}

.info {
  cursor: pointer;
  width: 220px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.cost {
  margin-top: 0;
}

.price {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.button {
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
  color: #fff;
  font-weight: 500;
  background-color: #f59256;
  border: none;
  border-radius: 4px;
}

.selected {
  background-color: #f96f19;
}
